.giftModal {
  border: thin solid green;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #00000062;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: white;
  width: 400px;
  padding: 30px 15px;
  border-radius: 5px;
}
.content h2 {
  margin-bottom: 20px;
}
.content input {
  width: 100%;
  height: 45px;
  border: thin solid #6e6e6e;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  margin: 10px 0px;
}

.content .formBtn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.formBtn button {
  min-width: 100px;
}

.coverContainer {
  background: linear-gradient(#000000b8, black), url(./assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coverImage {
  border-radius: inherit;
}